.object{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: rgb(0, 0, 0);
   }
   .login_screen{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       background-color: rgba(6, 161, 66, 0.623);
       height: 400px;
       width: 350px;
       border-radius: 10px;
   }
   
   
   
   .input{
       border-radius: 25px;
       background-color: rgb(255, 255, 255);
       color: rgb(0, 0, 0);
       height: 30px;
       margin: 10px;
   }
   
   a{
       text-decoration: none;
       margin: 10px;
       color: rgb(255, 255, 255);
   }
   
   .entry{
       width: 150px;
       height: 30px;
       border: 1px solid ;
       border-radius: 12px;
       font-size: 14px;
       font-weight: 700;
       cursor: pointer;
   }