.form-container {
    width: 500px;  
    background-color: #cac9c9;
    padding: 10px;  
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
    margin: 10px auto;  
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;  
}

input,
select,
button {
    width: 70%;  
    margin: 5px 0; 
    padding: 6px; 
    border: 1px solid #585858;
    border-radius: 4px;
    font-size: 14px;
}
